body {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: seashell;
  background-color: #a5a2a2;
}
/*HEADER*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0px 50px;
  margin: 0 150px 0px;
  border-radius: 40px;
  border: 1px solid rgb(255, 255, 255);
}
.humburger {
  display: none;
}
.nav-links {
  display: flex;
  gap: 30px;

  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: black;
}

.logo {
  font-size: 30px;
}

/******HERO SECTION********/
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* border: 1px solid rgb(215, 14, 14); */
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  width: 100%;
  margin: 0;
  /* border: 1px solid black; */
}

/* LEFT */
.hero-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  /* border: 1px solid black; */
}

.hero-left h1 {
  font-size: 52px;
  margin-bottom: 1px;
}

.desc {
  color: gray;
  margin-bottom: 60px;
  max-width: 450px;
}

/* BOUTTONS */
.buttons {
  display: flex;
  gap: 10px;
  /* margin-bottom: 30px; */
}

.primary {
  background: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.secondary {
  background: transparent;
  border: 1px solid black;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
}

/* RIGHT */
.hero-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
#custom {
  display: flex;
  flex-direction: row;
  /* padding: 10px; */
  margin: 0;
}

.customer-img {
  width: 50px;
  height: 50px;
  margin-left: -10px;

  object-fit: cover;
  border-radius: 50px;
  border: 3px solid #a5a2a2;
}
.max {
  width: 100%;
  max-width: 450px;
  height: 280px;
  object-fit: cover;
  border-radius: 15px;
  border: 1px solid #5c5c5c;
}
.contact,
.customers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  gap: 10px;
}
.contact-info {
  box-sizing: border-box;
  max-height: 50px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.contact h2 {
  font-size: 0.9rem;
  color: #414040;
}
.contact h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #272626;
}

.btn-contact {
  width: 200px;
  height: 50px;

  /* background: black; */
  /* background: linear-gradient(to right, #2F3640 , #111111 ); */
  background: linear-gradient(to right, #9dabc7, #adbcda);
  color: rgb(11, 11, 11);
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.hero-img {
  box-sizing: border-box;
  width: 100%;
  max-width: 450px;
  height: 80px;
  object-fit: cover;
  border-radius: 15px;
  border: 1px solid #5c5c5c;
}

/*******BENTO GALLERY ICI**********/
.bento-gallery {
  width: 70%;
  min-height: 1000px; /* min-height au lieu de height */
  margin: 0px auto;
  padding: 50px;
  border-radius: 15px;
  background-color: rgb(23, 30, 37);
  overflow: hidden; /* empêche le débordement */

  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* style visuel */
.card {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background: #f5f5f5;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  min-height: 0;
}

/********* Premier Bento *************/
.bento {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  min-height: 500px;
  /* height: 490px; */
}

/* colonne gauche */
.left-col {
  display: grid;
  grid-template-rows: 1fr 2fr;
  gap: 10px;
}

/* colonne image  a droite*/
.photo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* border-radius: 12px; */
}

.intro {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  /* background-color: #fbb5b4; */
  background: linear-gradient(to bottom right, #ffc3c3, #c3486b);
  max-height: 180px;
}
.intro h1 {
  color: #cbc0f5;
}
.intro h2 {
  font-family: "Courier New", Courier, monospace;
}
.name {
  max-height: 360px;
  font-size: 4.8rem;
  font-weight: bold;
  background-color: #fed4a6;
  /* border: 10px solid #000000; */
}
.name img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

/******* Deuxième Bento ******/
.bento2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  min-height: 500px; /* min-height au lieu de height */
}

/* chaque colonne devient indépendante */
.col {
  display: grid;
  gap: 10px;
}

/* COLONNE 1 : 50% / 50% */
.col1 {
  grid-template-rows: 1fr 1fr;
}

/* COLONNE 2 : haut GRAND / bas petit */
.col2 {
  grid-template-rows: 3fr 1fr;
}

/* COLONNE 3 : haut petit / bas GRAND */
.col3 {
  grid-template-rows: 1fr 3fr;
}

.social img {
  padding: 0px;
  width: 60%;
  height: 60%;
  object-fit: contain;
  border-radius: 20px;
  /* border: 1px solid black; */
}

.rect {
  width: 90px;
  height: 90px;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}

.job,
.music,
.quote,
.country {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
.about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  padding: 30px;
  justify-content: center;
  align-items: center;
}

.job {
  /* background-color: #cbc0f5; */
  background: linear-gradient(to bottom right, #cbc0f5, #f5c0e1);
}
.about {
  /* background-color: #cbc0f5; */
  background: linear-gradient(to bottom right, #cbc0f5, #e06767);
}
.about img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50px;
}
.music {
  /* background-color: #b7cffb; */
  background: linear-gradient(to bottom right, #ce97ff, #ff6cf3);
  /* background: linear-gradient(to bottom right, #b7cffb, #fc89d0); */
  color: #0a0a0a;
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2;
  max-height: 335px;
}
.country,
.quote {
  text-align: center;
  color: #0a0a0a;
  font-family: "Inter", sans-serif;
  font-size: 2.63rem;
  font-weight: 1000;
  line-height: 1.6;
  max-height: 85px;
}
.quote {
  background-color: #c0f5e1;
}
.country {
  /* background-color: #f5e1c0; */
  background: linear-gradient(to bottom right, #fcf8f2, #f5c0e1);
}
.social {
  background: linear-gradient(to bottom right, #fcf8f2, #f5c0e1);

  /* background-color: #f5c0e1; */
}
.design-card {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 220px;
  height: 185px;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;

  /* Pointillés jaunes du fichier image_87fa82_2.png */
  /* border: 3px dashed #d1b44d; */
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23ffffff' stroke-width='4' stroke-dasharray='12%2c 8'/%3e%3c/svg%3e");
}

/* Style de base pour TOUS les coins */
.corner {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #cbc0f5; /* Fond noir pour masquer les pointillés en dessous */
  border: 2px solid #ffffff; /* Contour blanc du carré */
  box-sizing: border-box;

  /* Permet de centrer parfaitement le carré sur le coin de la bordure */
  transform: translate(-50%, -50%);
}

/* Positionnement précis de chaque coin */
.top-left {
  top: 0;
  left: 0;
}
.top-right {
  top: 0;
  left: 100%;
}
.bottom-left {
  top: 100%;
  left: 0;
}
.bottom-right {
  top: 100%;
  left: 100%;
}

footer {
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 20px;
  margin: 20px 0;
}

/***********************
TELEPHONE (≤ 768px)
************************/
@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .navbar {
    flex-direction: row;
    gap: 20px;
    margin: 10px 20px;
    padding: 0px 10px;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 15px;
  }
  .humburger {
    display: block;
    width: 50px;
    height: 50px;
  }
  .nav-links {
    display: none;
  }

  .logo {
    font-size: 24px;
  }

  .hero-left h1 {
    font-size: 34px;
    line-height: 1.2;
  }

  .desc {
    font-size: 15px;
    margin-bottom: 20px;
  }

  .buttons {
    flex-direction: column;
    width: 100%;
  }

  .buttons button {
    width: 100%;
  }

  .contact {
    /* height: 100px; */
    flex-direction: row;
    gap: 10px;
  }
  .btn-contact {
    width: 100px;
  }

  .customers {
    flex-direction: row;
    text-align: center;
  }
  .customers p {
    font-size: 0.8rem;
    text-align: left;
  }
  .customer-img {
    width: 50px;
    height: 50px;
    margin-left: -20px;
  }

  .contact-info {
    flex-direction: column;
    max-height: 180px;
    line-height: 1;
  }
  .contact-info h2,
  .contact-info h3 {
    margin: 0;
    font-size: 16px;
  }

  .customer-img {
    width: 45px;
    height: 45px;
  }

  .max {
    height: 240px;
  }

  .hero-img {
    height: 70px;
  }
  .hero {
    box-sizing: border-box;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border: 1px solid rgb(215, 14, 14); */
    gap: 4px;
  }
  .hero-left {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 20px;
    max-height: 400px;
    gap: 1px;
  }

  .hero-content {
    box-sizing: border-box;
    flex-direction: column;
    width: auto;
  }
  .hero-right {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    max-height: 700px;
    /* border: 1px solid rgb(17, 0, 255); */
  }

  .bento-gallery {
    overflow: hidden;
    width: 95%;
    padding: 10px;
    /* border: 10px solid red; */
        margin: 30px 0;

  }

  .intro {
    flex-direction: column;
    text-align: center;
    padding: 20px;
    max-height: none;
  }

  .intro h1 {
    font-size: 2rem;
  }

  .intro h2 {
    font-size: 1.2rem;
  }

  .name {
    font-size: 2.5rem;
    min-height: 280px;
  }

  .music {
    font-size: 1.3rem;
    max-height: none;
  }

  .country,
  .quote {
    font-size: 1.5rem;
    max-height: none;
    padding: 20px;
  }

  .social img {
    width: 80px;
    height: 80px;
  }

  .design-card {
    width: 180px;
    height: 150px;
    font-size: 1.5rem;
  }


  .bento {
    grid-template-columns: 1fr;
  }

  .left-col {
    grid-template-rows: auto auto;
  }

  .bento2 {
    grid-template-columns: 1fr;
  }

  .col {
    display: contents;
  }
  #custom{
}
}

@media (max-width: 308px) {
  .hero-img{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    padding: 15px;
    gap: 10px;
  }
  .btn-contact {
    width: 250px;
  }
}
